# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
# Visual Studio ignores
bin
obj
dat/dlb.lst
dat/guioptions
dat/porthelp
.vs
win/win32/*.bmp
win/win32/nethack.ico
#